.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  font-weight: var(--font-weight-semibold);
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  position: relative;

  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow-lg-light);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: var(--shadow-md-light);
}

.btn-white {
  background-color: white;
  color: var(--color-accent-dark);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 0.4s;
}

.btn-white::after {
  background-color: white;
}

.btn-white:hover::after {
  transform: scaleX(1.15) scaleY(1.4);
  opacity: 0;
}
