.main-header {
  height: 95vh;
  background-image:
    linear-gradient(
      to right bottom,
      var(--color-bg-header-1),
      var(--color-bg-header-2)
    ),
    url(../assets/images/hero.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  color: var(--color-primary);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  height: 75px;
}

.heading-title-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-title {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-title-main {
  display: block;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 25px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-title-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 14px;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-title-btn {
  animation: moveInBottom 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
